In [12]:
# Notebook: 1_extract_transform.ipynb
# Author: Hope Kimandi
# Dataset: bank-additional-full.xlsx

# Import necessary libraries
import pandas as pd
import os

dataset_path = r'C:\Users\lenovo\OneDrive\Desktop\KEndy\ASSIGNMENTS\DSA Assignments\DSA 2040\Data mining_group project_Hope\DATA\bank-additional-full.xlsx'
df = pd.read_excel(dataset_path)

df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
# Step 1: Initial Data Inspection

# Check data types and missing values
df.info()

# Summary statistics
df.describe(include='all')

# Check for duplicates
duplicates = df.duplicated().sum()
print(f'Total duplicates in dataset: {duplicates}')

<class 'pandas.core.frame.DataFrame'>
Index: 41176 entries, 0 to 41187
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                41176 non-null  int64
 1   job                41176 non-null  object
 2   marital            41176 non-null  object
 3   education          41176 non-null  object
 4   default            41176 non-null  object
 5   housing            41176 non-null  object
 6   loan               41176 non-null  object
 7   contact            41176 non-null  object
 8   month              41176 non-null  object
 9   day_of_week        41176 non-null  object
 10  duration           41176 non-null  int64
 11  campaign           41176 non-null  int64
 12  pdays              41176 non-null  int64
 13  previous           41176 non-null  int64
 14  poutcome           41176 non-null  object
 15  emp.var.rate       41176 non-null  float64
 16  cons.price.idx     41176 non-null  float64
 17  cons.conf.idx      41176 non-null  float64
 18  euribor3m          41176 non-null  float64
 19  nr.employed        41176 non-null  float64
 20  y                  41176 non-null  object
 21  duration_category  41176 non-null  category
 22  y_binary           41176 non-null  int64
dtypes: category(1), float64(5), int64(6), object(11)
memory usage: 7.3+ MB
Total duplicates in dataset: 0

In [ ]:
# Step 2: Data Cleaning

# Remove duplicates
df = df.drop_duplicates()

# Handle missing values
# For categorical columns, replace NaNs with 'unknown'
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna('unknown')

# For numerical columns, replace NaNs with median
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [ ]:
# Step 3: Feature Engineering

# Example: Create a categorical feature based on 'duration'
df['duration_category'] = pd.cut(
    df['duration'],
    bins=[-1, 100, 300, 600, float('inf')],
    labels=['short','medium','long','very_long']
)

# Encode target column 'y' as binary
df['y_binary'] = df['y'].apply(lambda x: 1 if x=='yes' else 0)

In [ ]:
# Step 4: Save Transformed Dataset

# Path to transformed folder
transformed_folder = r'C:\Users\lenovo\OneDrive\Desktop\KEndy\ASSIGNMENTS\DSA Assignments\DSA 2040\Data mining_group project_Hope\DATA\transformed'

# Create folder if it doesn't exist
os.makedirs(transformed_folder, exist_ok=True)

# Path to save the cleaned Excel
transformed_path = os.path.join(transformed_folder, 'bank_additional_transformed.xlsx')

# Save the cleaned dataset
df.to_excel(transformed_path, index=False)

print('Data cleaning and transformation completed. File saved to transformed folder.')

Data cleaning and transformation completed. File saved to transformed folder.